@font-face {
    font-family: 'HambakSnow';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/HambakSnow/SF_HambakSnow.woff2) format('woff2');
    font-display: swap;
}
